$color_1: #f2f2f2;
$color_2: black;
$color_3: white;
$background-color_1: #333;
$background-color_2: rgb(232, 179, 179);
$background-color_3: #bbbfbd;


.topnav {
	background-color: $background-color_1;
    margin-bottom: 15px;
	overflow: hidden;
	a {
		float: left;
		color: $color_1;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		&:hover {
			background-color: $background-color_2;
			color: $color_2;
		}
	}
	a.menu__item_active {
		background-color: $background-color_3;
		color: $color_3;
	}
	div {
		display: flex;
		padding: 7px 10px;
		float: right;
		color: $color_1;
		gap: 5px;
	}
    div i {
        font-size: 20px;
    }
}
